/* General */

/* color */

$white:#fff;
$black:#000;
$red:red;
$gray:#7E7F81;
$black_1:#0A0909;
$form-border:#A9A9A9;
$light_gray:#979797;



$primary-font:'Poppins', sans-serif;
$secondary-font:'Lato', sans-serif;